* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
    font-weight: 300;
    font-size: x-large;
}
.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    text-align: center;
    border-radius: 10px;

}


 button {
    background-color: white;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.445);
    font-family: sans-serif;
    font-weight: 300;
    font-size: x-large;
}

.calc div {
    text-align: end;
    background-color: black;
    color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calc .op {
    background-color: rgb(180, 180, 180);

}

.result {
    grid-column: 1/5;
}

.equal {
    grid-column: 4/5;
    grid-row: 3/7;
    background-color: rgba(255, 94, 0, 0.719);
    border-bottom-right-radius: 10px;

}
.zero{
    border-bottom-left-radius: 10px;

}